<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
    <header class="page-header">
        <nav class="navbar" aria-label="Main Navigation">
            <div class="container-fluid">
                <a class="navbar__brand" href="/" title="Back to Homepage">
                    <img alt="Logo Forschungsstelle Osteuropa Bremen" class="image" loading="lazy" decoding="async" src="{{ '/assets/images/logo.png' | relative_url }}" width="320" height="189">
                </a>
                <button class="navbar__toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar__toggler__icon"></span>
                </button>
                <div class="collapse navbar__collapse-wrapper" id="navbarSupportedContent">
                    <nav role="navigation" aria-labelledby="block-custom-main-menu-menu" id="block-custom-main-menu" class="block block-menu navigation menu--main">
                        <ul class="navbar__nav">
                            <li class="navbar__nav-item">
                                <a href="/intro" title="Intro/Введение" class="navbar__nav-link">
                                    <span>Intro/Введение</span>
                                </a>
                            </li>
                            <li class="navbar__nav-item">
                                <a href="/" title="Exhibition/Выставка" class="navbar__nav-link">
                                    <span>Exhibition/Выставка</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
    </header>
    <main class="node__content">
        {{ content }}
    </main>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
